language: php

install:
  - travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit

jobs:
  include:
    - php: 5.3
      dist: precise
    - php: 5.4
      dist: trusty
    - php: 5.5
      dist: trusty
    - php: 5.6
      dist: xenial
    - php: hhvm-3.18
      dist: trusty
  fast_finish: true
