language: php
dist: precise

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

install:
  - travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit

jobs:
  include:
    - php: hhvm
      dist: trusty
  allow_failures:
    - php: hhvm
  fast_finish: true
