language: php

php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - hhvm

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source --dev

script: vendor/bin/phpunit --configuration phpunit.xml.dist --colors

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true
